html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden],
template {
	display: none
}
a {
	background-color: transparent
}
a:active,
a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b,
strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button,
select {
	text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],
html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
input {
	line-height: normal
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 700
}
td,
th {
	padding: 0
}
*,
:after,
:before {
	box-sizing: border-box
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
a {
	color: #337ab7
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
figure {
	margin: 0
}
img {
	vertical-align: middle
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}
.img-rounded {
	border-radius: 6px
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto
}
.img-circle {
	border-radius: 50%
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
@media (min-width:768px) {
	.container {
		width: 750px
	}
}
@media (min-width:992px) {
	.container {
		width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
.row {
	margin-left: -15px;
	margin-right: -15px
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
.col-xs-pull-12 {
	right: 100%
}
.col-xs-pull-11 {
	right: 91.66666667%
}
.col-xs-pull-10 {
	right: 83.33333333%
}
.col-xs-pull-9 {
	right: 75%
}
.col-xs-pull-8 {
	right: 66.66666667%
}
.col-xs-pull-7 {
	right: 58.33333333%
}
.col-xs-pull-6 {
	right: 50%
}
.col-xs-pull-5 {
	right: 41.66666667%
}
.col-xs-pull-4 {
	right: 33.33333333%
}
.col-xs-pull-3 {
	right: 25%
}
.col-xs-pull-2 {
	right: 16.66666667%
}
.col-xs-pull-1 {
	right: 8.33333333%
}
.col-xs-pull-0 {
	right: auto
}
.col-xs-push-12 {
	left: 100%
}
.col-xs-push-11 {
	left: 91.66666667%
}
.col-xs-push-10 {
	left: 83.33333333%
}
.col-xs-push-9 {
	left: 75%
}
.col-xs-push-8 {
	left: 66.66666667%
}
.col-xs-push-7 {
	left: 58.33333333%
}
.col-xs-push-6 {
	left: 50%
}
.col-xs-push-5 {
	left: 41.66666667%
}
.col-xs-push-4 {
	left: 33.33333333%
}
.col-xs-push-3 {
	left: 25%
}
.col-xs-push-2 {
	left: 16.66666667%
}
.col-xs-push-1 {
	left: 8.33333333%
}
.col-xs-push-0 {
	left: auto
}
.col-xs-offset-12 {
	margin-left: 100%
}
.col-xs-offset-11 {
	margin-left: 91.66666667%
}
.col-xs-offset-10 {
	margin-left: 83.33333333%
}
.col-xs-offset-9 {
	margin-left: 75%
}
.col-xs-offset-8 {
	margin-left: 66.66666667%
}
.col-xs-offset-7 {
	margin-left: 58.33333333%
}
.col-xs-offset-6 {
	margin-left: 50%
}
.col-xs-offset-5 {
	margin-left: 41.66666667%
}
.col-xs-offset-4 {
	margin-left: 33.33333333%
}
.col-xs-offset-3 {
	margin-left: 25%
}
.col-xs-offset-2 {
	margin-left: 16.66666667%
}
.col-xs-offset-1 {
	margin-left: 8.33333333%
}
.col-xs-offset-0 {
	margin-left: 0
}
@media (min-width:768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-pull-11 {
		right: 91.66666667%
	}
	.col-sm-pull-10 {
		right: 83.33333333%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-8 {
		right: 66.66666667%
	}
	.col-sm-pull-7 {
		right: 58.33333333%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-5 {
		right: 41.66666667%
	}
	.col-sm-pull-4 {
		right: 33.33333333%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-2 {
		right: 16.66666667%
	}
	.col-sm-pull-1 {
		right: 8.33333333%
	}
	.col-sm-pull-0 {
		right: auto
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666667%
	}
	.col-sm-push-10 {
		left: 83.33333333%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666667%
	}
	.col-sm-push-7 {
		left: 58.33333333%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666667%
	}
	.col-sm-push-4 {
		left: 33.33333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.66666667%
	}
	.col-sm-push-1 {
		left: 8.33333333%
	}
	.col-sm-push-0 {
		left: auto
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%
	}
	.col-sm-offset-0 {
		margin-left: 0
	}
}
@media (min-width:992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-pull-11 {
		right: 91.66666667%
	}
	.col-md-pull-10 {
		right: 83.33333333%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-pull-8 {
		right: 66.66666667%
	}
	.col-md-pull-7 {
		right: 58.33333333%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-pull-5 {
		right: 41.66666667%
	}
	.col-md-pull-4 {
		right: 33.33333333%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-pull-2 {
		right: 16.66666667%
	}
	.col-md-pull-1 {
		right: 8.33333333%
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
	.col-md-offset-0 {
		margin-left: 0
	}
}
@media (min-width:1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-pull-11 {
		right: 91.66666667%
	}
	.col-lg-pull-10 {
		right: 83.33333333%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-pull-8 {
		right: 66.66666667%
	}
	.col-lg-pull-7 {
		right: 58.33333333%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-pull-5 {
		right: 41.66666667%
	}
	.col-lg-pull-4 {
		right: 33.33333333%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-pull-2 {
		right: 16.66666667%
	}
	.col-lg-pull-1 {
		right: 8.33333333%
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-push-11 {
		left: 91.66666667%
	}
	.col-lg-push-10 {
		left: 83.33333333%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-push-8 {
		left: 66.66666667%
	}
	.col-lg-push-7 {
		left: 58.33333333%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-push-5 {
		left: 41.66666667%
	}
	.col-lg-push-4 {
		left: 33.33333333%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-push-2 {
		left: 16.66666667%
	}
	.col-lg-push-1 {
		left: 8.33333333%
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
	.col-lg-offset-0 {
		margin-left: 0
	}
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
	clear: both
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pull-right {
	float: right!important
}
.pull-left {
	float: left!important
}
.hide {
	display: none!important
}
.show {
	display: block!important
}
.invisible {
	visibility: hidden
}
.text-hide {
	font-size: 0;
	line-height: 0;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.hidden {
	display: none!important;
	visibility: hidden!important
}
.affix {
	position: fixed
}
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
	display: none!important
}
@media (max-width:767px) {
	.visible-xs {
		display: block!important
	}
	table.visible-xs {
		display: table
	}
	tr.visible-xs {
		display: table-row!important
	}
	td.visible-xs,
	th.visible-xs {
		display: table-cell!important
	}
	
}
@media (max-width:767px) {
	.visible-xs-block {
		display: block!important
	}
}
@media (max-width:767px) {
	.visible-xs-inline {
		display: inline!important
	}
}
@media (max-width:767px) {
	.visible-xs-inline-block {
		display: inline-block!important
	}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm {
		display: block!important
	}
	table.visible-sm {
		display: table
	}
	tr.visible-sm {
		display: table-row!important
	}
	td.visible-sm,
	th.visible-sm {
		display: table-cell!important
	}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm-block {
		display: block!important
	}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm-inline {
		display: inline!important
	}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm-inline-block {
		display: inline-block!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md {
		display: block!important
	}
	table.visible-md {
		display: table
	}
	tr.visible-md {
		display: table-row!important
	}
	td.visible-md,
	th.visible-md {
		display: table-cell!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md-block {
		display: block!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md-inline {
		display: inline!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md-inline-block {
		display: inline-block!important
	}
}
@media (min-width:1200px) {
	.visible-lg {
		display: block!important
	}
	table.visible-lg {
		display: table
	}
	tr.visible-lg {
		display: table-row!important
	}
	td.visible-lg,
	th.visible-lg {
		display: table-cell!important
	}
}
@media (min-width:1200px) {
	.visible-lg-block {
		display: block!important
	}
}
@media (min-width:1200px) {
	.visible-lg-inline {
		display: inline!important
	}
}
@media (min-width:1200px) {
	.visible-lg-inline-block {
		display: inline-block!important
	}
}
@media (max-width:767px) {
	.hidden-xs {
		display: none!important
	}
}
@media (min-width:768px) and (max-width:991px) {
	.hidden-sm {
		display: none!important
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.hidden-md {
		display: none!important
	}
}
@media (min-width:1200px) {
	.hidden-lg {
		display: none!important
	}
}
.visible-print {
	display: none!important
}
@media print {
	.visible-print {
		display: block!important
	}
	table.visible-print {
		display: table
	}
	tr.visible-print {
		display: table-row!important
	}
	td.visible-print,
	th.visible-print {
		display: table-cell!important
	}
}
.visible-print-block {
	display: none!important
}
@media print {
	.visible-print-block {
		display: block!important
	}
}
.visible-print-inline {
	display: none!important
}
@media print {
	.visible-print-inline {
		display: inline!important
	}
}
.visible-print-inline-block {
	display: none!important
}
@media print {
	.visible-print-inline-block {
		display: inline-block!important
	}
}
@media print {
	.hidden-print {
		display: none!important
	}
}
.modal,
.modal-open {
	overflow: hidden
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	transition: transform .3s ease-out;
	transform: translate(-50%, -100%)
}
.modal.in .modal-dialog {
	transform: translate(-50%, -50%)
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	position: absolute;
	width: auto;
	margin: 10px
}
.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	background-clip: padding-box;
	outline: 0
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	background-color: #000
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0)
}
.modal-backdrop.in {
	opacity: .5;
	filter: alpha(opacity=50)
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	padding: 20px
}
.modal-footer {
	padding: 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-left: 5px;
	margin-bottom: 0
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}
@media (min-width:768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto
	}
	.modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
	.modal-sm {
		max-width: 400px;
		width: 100%
	}
}
@media (min-width:992px) {
	.modal-lg {
		width: 900px
	}
}
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7
}
.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	border-radius: 4px
}
.fancybox-opened {
	z-index: 8
}
.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5)
}
.fancybox-inner,
.fancybox-outer {
	position: relative
}
.fancybox-inner {
	overflow: hidden
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch
}
.fancybox-error {
	color: #444;
	font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap
}
.fancybox-iframe,
.fancybox-image {
	display: block;
	width: 100%;
	height: 100%
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%
}
#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
	background-image: url(../img/fancybox_sprite.png)
}
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 11
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(fancybox_loading.gif) 50% no-repeat
}
.fancybox-close {
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px
}
.fancybox-close,
.fancybox-nav {
	position: absolute;
	cursor: pointer;
	z-index: 9
}
.fancybox-nav {
	top: 0;
	width: 40%;
	height: 100%;
	text-decoration: none;
	background: transparent url(blank.gif);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.fancybox-prev {
	left: 0
}
.fancybox-next {
	right: 0
}
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 9;
	visibility: hidden
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px
}
.fancybox-nav:hover span {
	visibility: visible
}
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible!important
}
.fancybox-lock {
	width: auto
}
.fancybox-lock,
.fancybox-lock body {
	overflow: hidden!important
}
.fancybox-lock-test {
	overflow-y: hidden!important
}
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 6;
	background: url(../img/fancybox_overlay.png)
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll
}
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 10
}
.fancybox-opened .fancybox-title {
	visibility: visible
}
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 10;
	text-align: center
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	background: rgba(0, 0, 0, .8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #fff;
	font-weight: 700;
	line-height: 24px;
	white-space: nowrap
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff
}
.fancybox-title-inside-wrap {
	padding-top: 10px
}
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8)
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
	#fancybox-loading,
	.fancybox-close,
	.fancybox-next span,
	.fancybox-prev span {
		background-image: url(fancybox_sprite@2x.png);
		background-size: 44px 152px
	}
	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px
	}
}
@font-face {
	font-family: custom-icons;
	src: url(../fonts/custom-icons.eot?1529671732203);
	src: url(../fonts/custom-icons.eot?#iefix-1529671732203) format("embedded-opentype"), url(../fonts/custom-icons.woff2?1529671732203) format("woff2"), url(../fonts/custom-icons.woff?1529671732203) format("woff"), url(../fonts/custom-icons.ttf?1529671732203) format("truetype");
	font-weight: 400;
	font-style: normal
}
[class*=" icon-"]:before,
[class^=icon-]:before {
	font-family: custom-icons;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-circle:before {
	content: "\ea01"
}
.icon-circle2:before {
	content: "\ea02"
}
.icon-circle3:before {
	content: "\ea03"
}
.icon-question:before {
	content: "\ea04"
}
.lSSlideOuter {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.lightSlider:after,
.lightSlider:before {
	content: " ";
	display: table
}
.lightSlider {
	overflow: hidden;
	margin: 0
}
.lSSlideWrapper {
	max-width: 100%;
	overflow: hidden;
	position: relative
}
.lSSlideWrapper>.lightSlider:after {
	clear: both
}
.lSSlideWrapper .lSSlide {
	transform: translate(0);
	-webkit-transition: all 1s;
	transition-property: transform, height;
	transition-duration: inherit!important;
	transition-timing-function: inherit!important
}
.lSSlideOuter .lSPager.lSGallery {
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
	overflow: hidden;
	transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-o-transform: translateZ(0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.lSSlideOuter .lSPager.lSGallery li {
	overflow: hidden;
	transition: border-radius .12s linear linear 0 .35s 0
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
	border-radius: 5px
}
.lSSlideOuter .lSPager.lSGallery img {
	display: block;
	height: auto;
	max-width: 100%
}
.lSSlideOuter .lSPager.lSGallery:after,
.lSSlideOuter .lSPager.lSGallery:before {
	content: " ";
	display: table
}
.lSSlideOuter .lSPager.lSGallery:after {
	clear: both
}
.lSAction>a {
	width: 32px;
	display: block;
	top: 50%;
	height: 32px;
	background-image: url(../img/controls.png);
	cursor: pointer;
	position: absolute;
	z-index: 2;
	margin-top: -16px;
	opacity: .5;
	transition: opacity .35s linear 0
}
.lSAction>a:hover {
	opacity: 1
}
.lSAction>.lSPrev {
	background-position: 0 0;
	left: 10px
}
.lSAction>.lSNext {
	background-position: -32px 0;
	right: 10px
}
.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
	padding-left: 0;
	list-style: none outside none
}
.lSSlideOuter .lightSlider>*,
.lSSlideOuter .lSGallery li {
	float: left
}
.owl-carousel,
.owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative
}
.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0)
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0)
}
.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
	display: none
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
	display: block
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}
.owl-carousel.owl-hidden {
	opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}
.owl-carousel.owl-drag .owl-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab
}
.owl-carousel.owl-rtl {
	direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
	float: right
}
.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
	z-index: 0
}
.owl-carousel .owl-animated-out {
	z-index: 1
}
.owl-carousel .fadeOut {
	animation-name: a
}
@keyframes a {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}
.owl-height {
	transition: height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
	transform: scale(1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .4s ease
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}
.owl-theme .owl-nav {
	margin-top: 10px
}
.owl-theme .owl-nav [class*=owl-] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px
}
.owl-theme .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #fff;
	text-decoration: none
}
.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #d6d6d6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #869791
}
html {
	box-sizing: border-box
}
*,
:after,
:before {
	box-sizing: inherit
}
img {
	box-sizing: content-box
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}
* {
	outline: 0 none
}
body {
	line-height: 1;
	background: #fff;
	font-family: ProximaNova;
	color: #2e2e2e
}
ol,
ul {
	list-style: none
}
blockquote,
q {
	quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
@font-face {
	font-family: GothamProRegular;
	src: url(../fonts/GothamProRegular/GothamProRegular.eot);
	src: url(../fonts/GothamProRegular/GothamProRegular.eot#iefix)format("embedded-opentype"), url(../fonts/GothamProRegular/GothamProRegular.woff) format("woff"), url(../fonts/GothamProRegular/GothamProRegular.ttf) format("truetype");
	font-style: normal;
	font-weight: 400
}
@font-face {
	font-family: GothamProBlack;
	src: url(../fonts/GothamProBlack/GothamProBlack.eot);
	src: url(../fonts/GothamProBlack/GothamProBlack.eot#iefix)format("embedded-opentype"), url(../fonts/GothamProBlack/GothamProBlack.woff) format("woff"), url(../fonts/GothamProBlack/GothamProBlack.ttf) format("truetype");
	font-style: normal;
	font-weight: 400
}
@font-face {
	font-family: sf_ui_displaythin;
	src: url(../fonts/sf-ui-display-thin-webfont/sf-ui-display-thin-webfont.woff2) format("woff2"), url(../fonts/sf-ui-display-thin-webfont/sf-ui-display-thin-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: sf_ui_displaylight;
	src: url(../fonts/sf-ui-display-light-webfont/sf-ui-display-light-webfont.woff2) format("woff2"), url(../fonts/sf-ui-display-light-webfont/sf-ui-display-light-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: sf_ui_displaybold;
	src: url(../fonts/sf-ui-display-bold-webfont/sf-ui-display-bold-webfont.woff2) format("woff2"), url(../fonts/sf-ui-display-bold-webfont/sf-ui-display-bold-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: sf_ui_displayheavy;
	src: url(../fonts/sf-ui-display-heavy-webfont/sf-ui-display-heavy-webfont.woff2) format("woff2"), url(../fonts/sf-ui-display-heavy-webfont/sf-ui-display-heavy-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
header {
	background: url(../img/bg1.jpg) no-repeat top;
	font-size: 0;
	position: relative
}
header .container {
	z-index: 2;
	position: relative
}
header .top {
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
header .top .menu-languish {
    margin: 0 0 0 auto;
	width: 128px;
}
header .top .wpml-ls-legacy-dropdown {
	width: 100%;
}
header .top .phone_block{
	display: none !important;
}
header .top .menu-languish  a.wpml-ls-item-toggle:after{
	display: none;
}
header .top .menu-languish  a.wpml-ls-item-toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 56px;
	justify-content: center;
	align-content: center;
	padding: 0;
	color: #191919;
	font-size: 16px;
	font-family: sf_ui_displaybold;
	background: #ffd801;
	text-decoration: none;
	border: none;
}
header .top .menu-languish .wpml-ls-legacy-dropdown a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 56px;
	justify-content: center;
	align-content: center;
	padding: 0;
	color: #191919;
	font-size: 16px;
	font-family: sf_ui_displaybold;
	border: none;
	text-decoration: none;
}
header .top .menu-languish .wpml-ls-legacy-dropdown a:hover{
	background: #e0b518;
}
header .top .menu-languish  a.wpml-ls-item-toggl:hover{
	background: #e0b518;
}
header .top .logo {
	margin-right: 55px
}
header .top .logo,
header .top .logo img,
header .top .logo span {
	display: inline-block;
	vertical-align: middle
}
header .top .logo span {
	font-size: 20px;
	color: #fff;
	font-family: GothamProBlack;
	padding-left: 16px;
	text-align: left!important
}
header .top .ico_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px
}
header .top .ico_block p {
	font-size: 24px;
	color: #ffd801;
	font-weight: 700
}
header .top .phone_block {
	display: inline-block;
	vertical-align: middle;
	padding-left: 60px;
	background: url(../img/phone2.png) no-repeat 0;
	min-height: 46px
}
header .top .phone_block a {
	margin-right: 40px;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	font-family: sf_ui_displaythin
}
header .top .phone_block a:last-child {
	margin-right: 0
}
header .top .phone_block a span {
	color: #ffd801
}
header .mid {
	margin-top: 60px;
	text-align: center
}
header .mid .hr {
	width: 60px;
	height: 5px;
	margin: 0 auto;
	background: #ffd801
}
header .mid .title {
	margin-top: 40px;
	max-width: 700px;
	display: inline-block;
	font-family: GothamProBlack
}
header .mid .title h1 {
	-webkit-margin-before: .67em;
	-webkit-margin-after: .67em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: 700;
	font-size: 60px;
	padding: 0;
	padding-bottom: 15px;
	color: #fff;
	margin: 0
}
header .mid .items {
	margin-top: 55px
}
header .mid .items .item {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	text-align: center
}
header .mid .items .item:nth-child(3n+2) {
	margin-left: 100px;
	margin-right: 100px
}
header .mid .items .item .img {
	margin-bottom: 20px
}
header .mid .items .item .text {
	font-size: 18px;
	color: #fff;
	font-family: sf_ui_displaylight
}
header .mid .form {
	margin-top: 50px
}
header .mid .form .input_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	text-align: center
}
header .mid .form .input_block input {
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #fff
}
header .mid .form .btn_block {
	display: inline-block;
	vertical-align: middle;
	text-align: center
}
header .mid .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
header .mid .form .btn_block input:hover {
	background: #fff
}
header .bot {
	margin-top: 120px;
	text-align: center;
	padding-bottom: 25px
}
header .bot #scrl_b {
	text-decoration: none
}
header .bot #scrl_b:hover {
	opacity: .8
}
#menu {
	background: #ffd801;
	font-size: 0
}
#menu li {
	display: inline-block;
	vertical-align: middle;
	text-align: center
}
#menu li a {
	line-height: 60px;
	color: #191919;
	height: 56px;
	display: block;
	padding: 0 20px;
	text-decoration: none;
	font-size: 16px;
	font-family: sf_ui_displaybold
}
#menu li a.active,
#menu li a:hover {
	color: #191919;
	background: #e0b518
}
#menu.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow-x: hidden
}
a,
body {
	font: 14px GothamProRegular, Arial, Tahoma, Verdana, sans-serif;
	color: #000
}
a {
	outline: none;
	text-decoration: none;
	cursor: pointer
}
a:hover {
	text-decoration: underline
}
p,
ul {
	margin: 0;
	padding: 0
}
ul {
	list-style: none
}
img {
	border: none;
	max-width: 100%;
	max-height: 100%
}
.text-center {
	text-align: center
}
.container {
	width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 15px
}
#scrl2 {
	padding: 60px 0;
	background: #f3f1ed
}
#scrl2 .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase
}
#scrl2 .items {
	margin-top: 50px;
	font-size: 0;
	text-align: center
}
#scrl2 .items .item {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	vertical-align: top;
	width: 32%;
	position: relative;
	box-sizing: border-box;
	padding: 25px;
	margin-right: 2%;
	text-align: left;
	margin-bottom: 50px;
	min-height: 202px
}
#scrl2 .items .item .lbg {
	display: none;
}
#scrl2 .items .item:nth-child(3n+3) {
	margin-right: 0
}
#scrl2 .items .item .tt:before {
	content: '';
	background: #ffd801;
	height: 45px;
	width: 5px;
	position: absolute;
	bottom: 20px;
	left: -25px;
	top: 50%;
	transform: translateY(-50%);
}
.desc_block p{
    font-size: 20px;
    color: #fff;
	margin-bottom: 20px;
	font-family: "sf_ui_displaylight";
	font-weight: 700;
}
.desc_block strong,
.desc_block b{
	font-weight: 700;
}
.desc_block i,
.desc_block em{
	font-style: italic;
}
.desc_block ul li,
.desc_block ol li{
	margin-bottom: 10px;
	font-size: 20px;
	color: #fff;
}
.desc_block ol{
	list-style-type: decimal;
	list-style-position: inside;
	margin-bottom: 20px;
}
.desc_block ul{
	list-style-position: inside;
	list-style-type: circle;
	margin-bottom: 20px;
}
#scrl2 .items .item .tt {
	margin-bottom: 0px;
	position: relative;
}
#scrl2 .items .item .tt a {
	font-size: 22px;
	color: #fff;
	font-weight: 700
}
#scrl2 .items .item .tt a:hover {
	color: #ffd801
}
#scrl2 .items .item .i_item {
	margin-bottom: 7px
}
#scrl2 .items .item .i_item a {
	font-size: 14px;
	color: #fff
}
#scrl2 .items .item .i_item a:hover {
	color: #ffd801
}
#scrl2 .desc1 {
	font-size: 20px;
	font-family: sf_ui_displaylight
}
#scrl2 .desc1,
#scrl2 .desc2 {
	color: #191919;
	text-align: center
}
#scrl2 .desc2 {
	margin-top: 0;
	font-size: 30px;
	font-family: sf_ui_displaythin;
	text-transform: uppercase
}
#scrl2 .desc2 span {
	color: #295894
}
#scrl3 {
	background: #fff;
	padding: 80px 0;
	font-size: 0
}
#scrl3 .title {
	font-size: 50px;
	font-family: GothamProBlack;
	font-weight: 700;
	text-transform: uppercase;
	color: #191919
}
#scrl3 .items {
	margin-top: 45px
}
#scrl3 .items .item {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: middle;
	width: 33%
}
#scrl3 .items .item .img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px
}
#scrl3 .items .item .text {
	font-size: 18px;
	color: #191919;
	display: inline-block;
	vertical-align: middle;
	font-family: sf_ui_displaylight
}
#scrl3 .title2 {
	margin-top: 90px;
	font-size: 50px;
	font-family: GothamProBlack;
	font-weight: 700;
	text-transform: uppercase;
	color: #191919
}
#scrl3 ul {
	margin-top: 30px
}
#scrl3 ul li {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 33%;
	padding-left: 36px;
	font-size: 16px;
	color: #191919;
	font-family: sf_ui_displaylight;
	min-height: 24px;
	margin-bottom: 12px;
	background: url(../img/ptichka2.png) no-repeat 0
}
#scrl4 {
	background: #ffd801;
	padding: 80px 0
}
#scrl4 .title {
	font-size: 50px;
	color: #1b1b1b;
	text-transform: uppercase;
	font-family: GothamProBlack;
	font-weight: 700
}
#scrl4 .tabs_block {
	margin-top: 35px
}
#scrl4 .tabs_block .tabs_links {
	font-size: 0
}
#scrl4 .tabs_block .tabs_links ul {
	list-style: none;
	border: 1px solid #e0b518;
	display: inline-block;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}
#scrl4 .tabs_block .tabs_links ul li {
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid #e0b518;
	box-sizing: border-box
}
#scrl4 .tabs_block .tabs_links ul li:last-child {
	border-right: none
}
#scrl4 .tabs_block .tabs_links ul li a {
	font-size: 14px;
	color: #191919;
	font-family: Arial;
	display: block;
	box-sizing: border-box;
	padding: 17px 38.28px;
	text-decoration: none
}
#scrl4 .tabs_block .tabs_links ul li a.active,
#scrl4 .tabs_block .tabs_links ul li a:hover {
	background: #e0b518
}
#scrl4 .tabs_block .tabs_content {
	margin-top: 30px
}
#scrl4 .tabs_block .tabs_content .tc {
	display: none
}
#scrl4 .tabs_block .tabs_content table {
	width: 100%;
	border: 1px solid #e0b518;
	border-radius: 3px;
	border-collapse: collapse
}
#scrl4 .tabs_block .tabs_content table thead tr {
	border-collapse: collapse
}
#scrl4 .tabs_block .tabs_content table thead tr td {
	font-size: 16px;
	color: #191919;
	font-family: Arial;
	padding: 15px 20px;
	font-weight: 700;
	border-bottom: 1px solid #e0b518
}
#scrl4 .tabs_block .tabs_content table tbody {
	border-collapse: collapse
}
#scrl4 .tabs_block .tabs_content table tbody tr {
	border-collapse: collapse;
	cursor: pointer
}
#scrl4 .tabs_block .tabs_content table tbody tr td {
	font-size: 14px;
	color: #191919;
	font-family: Arial;
	padding: 12px 20px;
	border-bottom: 1px solid #e0b518
}
#scrl4 .tabs_block .tabs_content table tbody tr.b td:first-child,
#scrl4 .tabs_block .tabs_content table tbody tr td:last-child,
#scrl4 .tabs_block .tabs_content table tbody tr td:nth-child(3) {
	font-weight: 700
}
#scrl4 .tabs_block .tabs_content table tbody tr td:last-child {
	width: 260px;
	box-sizing: border-box
}
#scrl4 .tabs_block .tabs_content table tbody tr:nth-child(2n+2) td {
	background: #f5cc09
}
#scrl4 .tabs_block .tabs_content table tbody tr td:last-child a {
	display: none;
	width: 260px;
	height: 40px;
	background: #e0b518;
	font-weight: 700;
	color: #191919;
	text-decoration: none;
	line-height: 40px;
	font-size: 14px
}
#scrl4 .tabs_block .tabs_content table tbody tr:hover td {
	background: #e0b518
}
#scrl4 .tabs_block .tabs_content table tbody tr:hover td:last-child a {
	display: inline-block
}
#scrl4 .tabs_block .tabs_content table tbody tr:hover td:last-child span {
	display: none
}
#scrl4 .tabs_block .tabs_content table tbody tr:hover td:last-child {
	padding: 0
}
#form2 {
	padding: 50px 0;
	position: relative;
	background: #fff
}
#form2 .title {
	font-size: 50px;
	color: #191919;
	text-transform: uppercase;
	font-family: GothamProBlack;
	font-weight: 700
}
#form2 .desc {
	font-size: 26px;
	color: #191919;
	margin-top: 5px;
	font-family: sf_ui_displaylight
}
#form2 .form {
	margin-top: 35px;
	font-size: 0
}
#form2 .form .input_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	text-align: center
}
#form2 .form .input_block input {
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	color: #000;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #e0e0e0
}
#form2 .form .btn_block {
	display: inline-block;
	vertical-align: middle;
	text-align: center
}
#form2 .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 145px;
	border-radius: 3px;
	padding: 15px 0;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#form2 .form .btn_block input:hover {
	background: #fff
}
#form2 .chel {
	position: absolute;
	bottom: -3px;
	right: 40px
}
a#scroll-to-top {
	background: url(../img/arrow.png) no-repeat 50%;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	text-indent: -9999px;
	font-size: 0;
	cursor: pointer;
	outline: 0
}
#form3 {
	background: url(../img/bg3_2.jpg) no-repeat 50%;
	background-size: cover;
	font-size: 0;
	position: relative
}
#form3 .bg {
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	position: absolute
}
#form3 .container {
	z-index: 2;
	position: relative
}
#form3 .title {
	max-width: 830px;
	font-size: 50px;
	padding-top: 70px;
	color: #fff;
	font-family: GothamProBlack;
	font-weight: 700;
	text-transform: uppercase
}
#form3 .desc {
	margin-top: 25px;
	font-size: 20px;
	color: #fff;
	max-width: 730px;
	font-family: sf_ui_displaylight
}
#form3 .form {
	padding-bottom: 70px;
	min-height: 400px;
	margin-top: 20px
}
#form3 .form .form_desc {
	max-width: 480px;
	margin-bottom: 15px
}
#form3 .form .form_desc,
#form3 .form .form_desc a {
	font-size: 20px;
	font-family: sf_ui_displaylight;
	color: #ffd801
}
#form3 .form .form_desc a {
	text-decoration: underline
}
#form3 .form .form_desc a:hover {
	text-decoration: none
}
#form3 .form .input_block {
	max-width: 440px;
	margin-bottom: 20px
}
#form3 .form .input_block input {
	width: 100%;
	border-radius: 3px;
	padding: 15px;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #fff
}
#form3 .form .file_block {
	margin-bottom: 20px
}
#form3 .form .file_block a {
	color: #ffd801;
	font-size: 20px;
	font-family: sf_ui_displaylight;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	border-bottom: 1px dashed;
	text-decoration: none
}
#form3 .form .file_block a:hover {
	border-bottom-color: transparent
}
#form3 .form .file_block span.filename {
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
	font-family: sf_ui_displaylight;
	padding-right: 35px;
	min-height: 23px;
	background: url(../img/del.png) no-repeat 100%;
	display: none
}
#form3 .form .file_block input {
	display: none
}
#form3 .form .btn_block {
	max-width: 440px
}
#form3 .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	border-radius: 3px;
	padding: 15px 0;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#form3 .form .btn_block input:hover {
	background: #fff
}
#form3 .form .ajax-loader {
	display: none!important
}
#gen {
	margin-top: -50px
}
#gen .info {
	border: 8px solid #ffd801;
	background: #fff;
	position: relative;
	padding: 40px 25px
}
#gen .info .img {
	position: absolute;
	left: 25px;
	top: -25px
}
#gen .info .text {
	padding-left: 450px
}
#gen .info .text .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	font-weight: 700;
	text-transform: uppercase
}
#gen .info .text .desc {
	margin-top: 5px;
	font-size: 30px;
	color: #ffd801;
	max-width: 730px;
	font-family: sf_ui_displaylight
}
#scrl5 {
	padding-top: 70px;
	background: #fff
}
#scrl5 .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	font-weight: 700;
	text-transform: uppercase
}
#scrl5 .items {
	font-size: 0;
	margin-top: 50px
}
#scrl5 .items .item {
	display: inline-block;
	vertical-align: top;
	width: 33.33333333333%;
	margin-bottom: 90px
}
#scrl5 .items .item .img {
	width: 60px;
	height: 60px
}
#scrl5 .items .item .img svg {
	max-width: 100%;
	max-height: 100%
}
#scrl5 .items .item .img svg,
#scrl5 .items .item .img svg * {
	color: #295894;
	stroke: #295894
}
#scrl5 .items .item .item_title {
	margin-top: 20px;
	font-size: 18px;
	color: #191919;
	font-family: sf_ui_displaylight
}
#scrl5 .items .item .desc {
	margin-top: 15px;
	color: #7e7e7e;
	font-size: 14px;
	font-family: Arial
}
#proiz {
	font-size: 0;
	background: #f3f1ed;
	position: relative
}
#proiz .info {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	padding: 145px 0;
	padding-right: 75px
}
#proiz .info .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#proiz .info .desc {
	margin-top: 25px
}
#proiz .info .desc,
#proiz .info .desc2 {
	font-size: 20px;
	color: #191919;
	font-family: sf_ui_displaylight
}
#proiz .info .desc2 {
	margin-top: 30px
}
#proiz .img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%
}
#how {
	padding: 75px 0;
	font-size: 0;
	background: #fff
}
#how .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#how .items {
	margin-top: 70px
}
#how .items .item {
	display: inline-block;
	vertical-align: top;
	width: 25%
}
#how .items .item .num {
	font-size: 102.78px;
	color: #295894;
	font-family: sf_ui_displayheavy
}
#how .items .item .item_title {
	font-size: 20px;
	color: #191919;
	font-family: sf_ui_displaylight
}
#how .info {
	min-height: 174px;
	margin-top: 85px;
	background: url(../img/car.png) no-repeat 100%;
	background-position-x: 80%
}
#how .info .title2 {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#how .info .desc {
	font-size: 20px;
	color: #6c6c6c;
	font-family: sf_ui_displaylight;
	margin-top: 10px
}
#how .form {
	margin-top: 45px
}
#how .form .input_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	text-align: center
}
#how .form .input_block input {
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	color: #000;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #e0e0e0
}
#how .form .btn_block {
	display: inline-block;
	vertical-align: middle;
	text-align: center
}
#how .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#how .form .btn_block input:hover {
	background: #fff
}
footer {
	height: 84px;
	background: #ffd801
}
footer .copyright {
	line-height: 84px;
	text-align: center;
	font-size: 14px;
	color: #171717;
	font-family: Arial
}
#scrl9 {
	padding: 150px 0;
	background: #f3f1ed;
	font-size: 0;
	position: relative
}
#scrl9 .map {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 55%
}
#scrl9 .map #map {
	height: 100%;
	width: 100%
}
#scrl9 .info {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	box-sizing: border-box
}
#scrl9 .info .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#scrl9 .info .desc {
	margin-top: 5px;
	color: #585858;
	font-size: 20px;
	font-family: sf_ui_displaylight
}
#scrl9 .info .form {
	margin-top: 40px
}
#scrl9 .info .form .desc2 {
	font-size: 20px;
	color: #191919;
	font-family: sf_ui_displaylight;
	margin-bottom: 15px
}
#scrl9 .info .form .input_block {
	margin-bottom: 20px;
	max-width: 290px
}
#scrl9 .info .form .input_block input {
	width: 100%;
	border-radius: 3px;
	padding: 15px;
	color: #191919;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #e1dfdb
}
#scrl9 .info .form .btn_block {
	max-width: 290px
}
#scrl9 .info .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	border-radius: 3px;
	padding: 15px 0;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#scrl9 .info .form .btn_block input:hover {
	background: #fff
}
#bot_contacts {
	position: relative;
	padding: 120px 0;
	font-size: 0;
	background: url(../img/bg9_1.jpg) no-repeat 50%;
	background-size: cover
}
#bot_contacts .hr {
	width: 60px;
	height: 5px;
	background: #ffd801
}
#bot_contacts .container {
	z-index: 2;
	position: relative
}
#bot_contacts .title {
	margin-top: 30px;
	font-size: 50px;
	color: #fff;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#bot_contacts .form {
	margin-top: 40px;
	margin-bottom: 40px
}
#bot_contacts .form .input_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	text-align: center
}
#bot_contacts .form .input_block input {
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	box-sizing: border-box;
	outline: none!important;
	background: transparent;
	border: 1px solid #fff
}
#bot_contacts .form .btn_block {
	display: inline-block;
	vertical-align: middle;
	text-align: center
}
#bot_contacts .form .btn_block input {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	width: 290px;
	border-radius: 3px;
	padding: 15px;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#bot_contacts .form .btn_block input:hover {
	background: #fff
}
#bot_contacts .ico_block {
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px
}
#bot_contacts .ico_block a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px
}
#bot_contacts .ico_block a:first-child {
	background: url(../img/top/1.png) no-repeat 50%;
	width: 28px;
	height: 27px
}
#bot_contacts .ico_block a:hover {
	opacity: .8
}
#bot_contacts .phone_block {
	display: inline-block;
	vertical-align: middle;
	padding-left: 60px;
	background: url(../img/phone2.png) no-repeat 0;
	min-height: 46px
}
#bot_contacts .phone_block a {
	margin-right: 40px;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	font-family: sf_ui_displaythin
}
#bot_contacts .phone_block a span {
	color: #ffd801
}
#bot_contacts .address {
	margin-top: 50px
}
#bot_contacts .address .address_title {
	font-size: 30px;
	font-family: sf_ui_displaylight;
	color: #fff
}
#bot_contacts .address .text {
	margin-top: 15px;
	color: #fff;
	font-size: 20px;
	font-family: sf_ui_displaylight
}
#scrl6 {
	padding: 80px 0;
	font-size: 0;
	background: #f3f1ed
}
#scrl6 .title {
	width: 80%;
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#scrl6 .slider_arrows,
#scrl6 .title {
	display: inline-block;
	vertical-align: middle
}
#scrl6 .slider_arrows {
	width: 20%;
	text-align: right
}
#scrl6 .slider_arrows .prev {
	margin-right: 10px;
	background: url(../img/sl.png) no-repeat 50%
}
#scrl6 .slider_arrows .next,
#scrl6 .slider_arrows .prev {
	width: 34px;
	height: 34px;
	display: inline-block;
	vertical-align: middle
}
#scrl6 .slider_arrows .next {
	background: url(../img/sr.png) no-repeat 50%
}
#scrl6 .slider_arrows a:hover {
	opacity: .8
}
#scrl6 .items {
	margin-top: 50px
}
#scrl6 .items .item {
	position: relative
}
#scrl6 .items .item a {
	display: inline-block;
	height: 215px;
	overflow: hidden;
	border: 8px solid #ffd801;
	box-sizing: border-box;
	transition: all .3s ease;
	margin-bottom: 50px
}
#scrl6 .items .item a img {
	max-height: 1000px;
	transition: all .3s ease;
	width: 100%;
	height: auto
}
#scrl6 .items .item a:hover img {
	transform: scale(1.1)
}
#team {
	padding: 100px 0;
	background: #ffd801;
	font-size: 0
}
#team .title {
	width: 80%;
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#main_desc .top_block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#main_desc .top_block .desc_block{
	width: calc(100% - 38%);
}
#main_desc .top_block .desc_block .price + p{
	font-size: 20px;
	color: #ffd801;
	font-family: "sf_ui_displaylight";
	margin-top: 20px;
	text-transform: uppercase;
	line-height: 1.6;
}
#main_desc .top_block .desc_block .price + p + p{
	font-size: 20px;
	color: #fff;
	font-family: "sf_ui_displaylight";
	margin-top: 15px;
	text-transform: uppercase;
}
#main_desc .top_block .desc_block p{
	font-size: 16px;
	color: #fff;
	font-family: "sf_ui_displaythin";
	margin-top: 10px;
}
#main_desc .top_block .desc_block p a span {
    color: #ffd801;
}
#main_desc .desc_block h3{
	font-size: 50px;
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-family: "GothamProBlack";
	text-transform: uppercase;
	
}
#main_desc .desc_block ul{
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
	font-family: "Arial";
	text-align: justify;
}
#main_desc .top_block .desc_block p a { 
    text-decoration: none;
    font-size: 28px;
    color: #fff;
    font-family: "sf_ui_displaythin";
	text-transform: uppercase;
}
#team .slider_arrows,
#team .title {
	display: inline-block;
	vertical-align: middle
}
#team .slider_arrows {
	width: 20%;
	text-align: right
}
#team .slider_arrows .next {
	background: url(../img/sr.png) no-repeat 50%
}
#team .slider_arrows .next,
#team .slider_arrows .prev {
	width: 34px;
	display: inline-block;
	vertical-align: middle;
	height: 34px
}
#team .slider_arrows .prev {
	margin-right: 10px;
	background: url(../img/sl.png) no-repeat 50%
}
#team .slider_arrows a:hover {
	opacity: .8
}
#team .items {
	margin-top: 35px
}
#team .desc {
	margin-top: 60px;
	text-align: center;
	color: #191919;
	font-size: 30px;
	font-family: sf_ui_displaylight
}
#faq {
	padding: 60px 0;
	background: #fff
}
#faq .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#faq .faq_items {
	border: 1px solid #ebebeb;
	margin-top: 25px
}
#faq .faq_item {
	border-bottom: 1px solid #ebebeb;
	padding: 17px;
	padding-right: 65px;
	cursor: pointer;
	transition: all .3s ease
}
#faq .faq_item .ques {
	color: #191919;
	font-size: 20px;
	background: url(../img/sb.png) no-repeat 100%;
	min-height: 34px;
	font-family: sf_ui_displaylight
}
#faq .faq_item.active .ques {
	background: url(../img/st.png) no-repeat 100%
}
#faq .faq_item.active .answer {
	height: auto;
	margin-top: 17px
}
#faq .faq_item .answer {
	font-size: 16px;
	color: #6c6c6c;
	overflow: hidden;
	font-family: sf_ui_displaylight;
	height: 0;
	transition: all .3s ease
}
#faq .faq_item .answer p {
	padding-bottom: 20px
}
#faq .mailto {
	margin-top: 25px
}
#faq .mailto a {
	color: #030303;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	max-width: 200px;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	border-radius: 3px;
	padding: 15px 0;
	background: #ffd801;
	cursor: pointer;
	outline: none!important;
	border: none
}
#faq .mailto a:hover,
#scrl8 {
	background: #fff
}
#scrl8 {
	padding: 90px 0;
	font-size: 0
}
#scrl8 .title {
	width: 80%;
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#scrl8 .slider_arrows,
#scrl8 .title {
	display: inline-block;
	vertical-align: middle
}
#scrl8 .slider_arrows {
	width: 20%;
	text-align: right
}
#scrl8 .slider_arrows .next {
	background: url(../img/sr.png) no-repeat 50%
}
#scrl8 .slider_arrows .next,
#scrl8 .slider_arrows .prev {
	width: 34px;
	display: inline-block;
	vertical-align: middle;
	height: 34px
}
#scrl8 .slider_arrows .prev {
	margin-right: 10px;
	background: url(../img/sl.png) no-repeat 50%
}
#scrl8 .slider_arrows a:hover {
	opacity: .8
}
#scrl8 .items {
	margin-top: 50px;
	font-size: 0
}
#scrl8 .items .item {
	position: relative
}
#scrl8 .items .item .review {
	display: inline-block;
	vertical-align: top;
	padding: 25px;
	box-sizing: border-box;
	position: relative;
	border: 1px solid #ebebeb
}
#scrl8 .items .item .review:after {
	display: block;
	position: absolute;
	content: " ";
	background: url(../img/tb.jpg) no-repeat 0 100%;
	width: 28px;
	height: 19px;
	bottom: -18px;
	left: 40px
}
#scrl8 .items .item .review_title {
	color: #191919;
	font-size: 20px;
	font-family: sf_ui_displaylight
}
#scrl8 .items .item .review_desc {
	margin-top: 25px;
	height: 73px;
	overflow: hidden
}
#scrl8 .items .item .review_desc p {
	padding-bottom: 10px
}
#scrl8 .items .item .open_close_desc {
	display: inline-block;
	vertical-align: top;
	text-decoration: underline;
	cursor: pointer;
	font-family: sf_ui_displaylight;
	font-size: 14px;
	color: #191919;
	margin-top: 4px
}
#scrl8 .items .item .review_desc {
	font-size: 16px;
	color: #6c6c6c;
	font-family: sf_ui_displaylight
}
#scrl8 .items .item .review_desc.active {
	height: auto
}
#scrl8 .items .item .open_close_desc:hover {
	text-decoration: none
}
#scrl8 .items .item .img_block {
	margin-top: 25px
}
#scrl8 .items .item .img_block .audio {
	width: 67%;
	display: inline-block;
	vertical-align: middle
}
#scrl8 .items .item .img_block .audio .name {
	color: #ffd801;
	font-size: 16px;
	font-family: sf_ui_displaylight
}
* {
	outline: none!important
}
.owl-dots {
	display: none!important
}
.bxslider_testimonials .owl-item {
	padding-bottom: 20px
}
input {
	-webkit-appearance: none
}
#sblock {
	padding: 80px 0;
	font-size: 0;
	background: #f3f1ed
}
#sblock .title {
	font-size: 50px;
	color: #191919;
	font-family: GothamProBlack;
	text-transform: uppercase;
	margin-bottom: 40px
}
#sblock .left_text {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-size: 16px;
	color: #191919;
	font-family: Arial;
	text-align: justify
}
#sblock .left_text li:before {
	content: "•";
	color: #ffd801;
	margin-right: 10px;
	font-size: 22px;
	display: inline-block;
	vertical-align: middle
}
#sblock .left_text ul li {
	padding: 5px 10px
}
#sblock p {
	padding-bottom: 20px
}
#breadcrumps {
	padding: 20px 0;
	font-size: 0;
	background: #000
}
#breadcrumps ul {
	list-style: none
}
#breadcrumps ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #fff;
	font-family: Arial
}
#breadcrumps ul li a {
	font-size: 14px;
	color: #ffd801;
	font-family: Arial
}
#breadcrumps ul li a:hover {
	text-decoration: underline
}
#breadcrumps .separator {
	padding: 0 3px
}
#select_price {
	font-size: 0;
	background: #000;
	padding-top: 50px;
}
#select_price .block1 {
	display: inline-block;
	vertical-align: middle;
	min-width: 360px;
	margin-right: 30px
}
#select_price .block1 select {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	box-sizing: border-box;
	border: 1px solid #caa21a;
	width: 100%;
	border-radius: 3px;
	font-size: 14px;
	color: #191919;
	font-family: Arial;
	background-color: #fff
}
#select_price .block1 .title {
	font-size: 14px;
	color: #fff;
	font-family: Arial;
	margin-bottom: 10px
}
#select_price .block2 {
	display: inline-block;
	vertical-align: middle;
	min-width: 360px
}
#select_price .block2 .title {
	font-size: 14px;
	color: #fff;
	font-family: Arial;
	margin-bottom: 10px
}
#select_price .block2 select {
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
	box-sizing: border-box;
	border: 1px solid #caa21a;
	width: 100%;
	border-radius: 3px;
	font-size: 14px;
	color: #191919;
	font-family: Arial;
	background-color: #fff
}
#main_desc {
	padding: 40px 0;
	font-size: 0;
	background: #000
}
#main_desc .top_block {
	margin-bottom: 50px
}
#main_desc .top_block .imgs_block {
	width: 37%;
	margin-right: 1%
}
#main_desc .top_block .desc_block,
#main_desc .top_block .imgs_block {
	display: inline-block;
	vertical-align: top
}
#main_desc .top_block .desc_block .title {
	font-size: 50px;
	color: #fff;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#main_desc .top_block .desc_block .title h1 {
	font-size: 46px;
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-family: GothamProBlack;
	text-transform: uppercase;
	margin-top: -9px;
}
#main_desc .top_block .desc_block .price {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	font-family: GothamProBlack
}
#main_desc .top_block .desc_block .desc1 {
	font-size: 16px;
	color: #ffd801;
	font-family: sf_ui_displaylight;
	margin-top: 15px
}
#main_desc .top_block .desc_block .desc2 {
	font-size: 20px;
	color: #fff;
	font-family: sf_ui_displaylight;
	margin-top: 15px
}
#main_desc .top_block .desc_block .desc3 {
	font-size: 28px;
	color: #fff;
	font-family: sf_ui_displaythin;
	margin-top: 10px;
	text-transform: uppercase
}
#main_desc .top_block .desc_block .desc3 a {
	text-decoration: none;
	font-size: 28px;
	color: #fff;
	font-family: sf_ui_displaythin;
	text-transform: uppercase
}
#main_desc .top_block .desc_block .desc3 span {
	color: #ffd801
}
#main_desc .desc_block .desc_title {
	font-size: 50px;
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-family: GothamProBlack;
	text-transform: uppercase
}
#main_desc .desc_block .desc_text {
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
	font-family: Arial;
	text-align: justify
}
header .container2 {
	overflow: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	vertical-align: center;
	display: none
}
@media (max-width:1169px) {
	.container {
		width: 100%
	}
	header .top {
		padding-top: 15px
	}
	header .top .phone_block a {
		margin-right: 15px;
		font-size: 24px
	}
	header .top .logo {
		margin-right: 40px
	}
	header .top .ico_block {
		margin-right: 30px;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0;
		margin-top: 20px
	}
	header .mid .form .input_block input {
		width: 220px
	}
	header .mid .form .btn_block input {
		width: 250px
	}
	#menu li a {
		padding: 0 10px
	}
	#scrl4 .tabs_block .tabs_links ul li a {
		padding: 17px 10px
	}
	#form2 .chel {
		display: none
	}
	#form2 .form .input_block input {
		width: 220px
	}
	#gen {
		display: none
	}
	#scrl5 {
		padding-top: 40px
	}
	#proiz .img {
		display: none
	}
	#proiz {
		background: url(../img/img.jpg) no-repeat 50%;
		background-size: cover;
		position: relative
	}
	#proiz .bg {
		background: rgba(0, 0, 0, .6);
		width: 100%;
		height: 100%;
		position: absolute
	}
	#proiz .container {
		z-index: 2;
		position: relative
	}
	#proiz .info {
		padding: 20px 0;
		width: 100%
	}
	#how .info {
		background: transparent
	}
	#how .form .btn_block input,
	#how .form .input_block input {
		width: 220px
	}
	#scrl6 .items .item a {
		height: 170px
	}
	#bot_contacts .form .btn_block input,
	#bot_contacts .form .input_block input {
		width: 220px
	}
}
@media (max-width:800px) {
	#menu li a {
		padding: 0 5px;
		font-size: 12px
	}
	header .top .ico_block{
		display: none !important;
	}
}
@media (max-width:680px) {
	header .top .ico_block {
		display: none
	}
	.top .logo {
		margin-right: 0
	}
	.top .ico_block {
		margin-right: 0;
		margin: 20px 0
	}
	header .top .phone_block a {
		display: block;
		margin-right: 0
	}
	header .mid .title h1 {
		font-size: 24px
	}
	header .mid .items .item:nth-child(3n+2) {
		margin: 0
	}
	header .mid .items .item {
		margin-bottom: 20px
	}
	header .mid .form .btn_block,
	header .mid .form .input_block {
		margin-right: 0;
		text-align: center;
		margin-bottom: 10px;
		display: block
	}
	header .mid .form .btn_block input,
	header .mid .form .input_block input {
		width: 100%;
		max-width: 320px
	}
	header .bot {
		margin-top: -6px
	}
	#menu {
		display: none
	}
	#scrl2 {
		padding: 20px 0
	}
	#scrl2 .title {
		font-size: 24px
	}
	#scrl2 .items .item {
		margin-bottom: 20px
	}
	#scrl2 .desc2 {
		margin-top: 10px;
		font-size: 18px
	}
	#form2,
	#form3,
	#scrl3,
	#scrl4 {
		padding: 20px 0
	}
	#scrl3 .title {
		font-size: 24px
	}
	#scrl3 .items .item {
		width: 100%
	}
	#form2 .title,
	#form3 .title,
	#scrl3 .title2,
	#scrl4 .title {
		margin-top: 20px;
		text-align: center;
		font-size: 24px
	}
	#form3 .title {
		padding-top: 0
	}
	#scrl3 ul li {
		width: 50%
	}
	#scrl4 .tabs_block .tabs_links ul li {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #e0b518
	}
	#scrl4 .tabs_block .tabs_content table thead tr td {
		font-size: 12px;
		padding: 10px 5px
	}
	#scrl4 .tabs_block .tabs_content table tbody tr td {
		font-size: 12px;
		padding: 10px
	}
	#form2 .desc {
		font-size: 18px;
		color: #191919;
		margin-top: 10px;
		font-family: sf_ui_displaylight;
		text-align: center
	}
	#form2 .form .btn_block,
	#form2 .form .input_block {
		margin-right: 0;
		width: 100%;
		margin-bottom: 10px
	}
	#form2 .form .btn_block input,
	#form2 .form .input_block input {
		width: 100%;
		max-width: 320px
	}
	#form3 .desc,
	#proiz .info .desc {
		font-size: 18px;
		text-align: center
	}
	#form3 .form .btn_block input {
		font-size: 12px
	}
	#how .info .title2,
	#how .title,
	#proiz .info .title,
	#scrl5 .title {
		font-size: 24px;
		text-align: center
	}
	#scrl5 .items .item {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-bottom: 20px;
		text-align: center
	}
	#scrl5 .items .item .img {
		width: 60px;
		height: 60px;
		margin: 0 auto
	}
	#how {
		padding: 20px 0
	}
	#how .info,
	#how .items {
		margin-top: 30px
	}
	#how .items .item {
		width: 100%;
		text-align: center
	}
	#how .info .desc {
		font-size: 18px;
		text-align: center
	}
	#bot_contacts .form .btn_block,
	#bot_contacts .form .input_block,
	#how .form .btn_block,
	#how .form .input_block {
		margin-right: 0;
		display: block;
		margin-bottom: 10px
	}
	#bot_contacts .form .btn_block input,
	#bot_contacts .form .input_block input,
	#how .form .btn_block input,
	#how .form .input_block input {
		width: 100%;
		max-width: 320px
	}
	#scrl6,
	#scrl8,
	#team {
		padding: 20px 0
	}
	#scrl6 .title,
	#scrl8 .title,
	#team .title {
		width: 100%;
		font-size: 24px;
		text-align: center
	}
	#scrl6 .slider_arrows,
	#scrl8 .slider_arrows,
	#team .slider_arrows {
		text-align: center;
		width: 100%;
		margin-top: 20px
	}
	#scrl6 .items .item a {
		height: 170px;
		display: block;
		text-align: center;
		margin-bottom: 20px;
		width: 100%
	}
	#scrl8 .items .item .review {
		width: 100%;
		margin-bottom: 40px
	}
	#faq {
		padding: 20px 0
	}
	#bot_contacts .title,
	#faq .title,
	#scrl9 .info .title {
		text-align: center;
		font-size: 24px
	}
	#faq .faq_item {
		padding: 10px
	}
	.container .container {
		padding: 0
	}
	#bot_contacts,
	#scrl9 {
		padding: 20px 0
	}
	#scrl9 .info {
		width: 100%
	}
	#scrl9 .map {
		position: static;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		margin-top: 20px
	}
	#scrl9 .map #map {
		height: 300px
	}
	#bot_contacts .ico_block {
		width: 100%;
		text-align: center;
		margin-right: 0;
		margin-bottom: 10px
	}
	#bot_contacts .phone_block a {
		font-size: 24px;
		display: block;
		margin-right: 0
	}
	#bot_contacts .address {
		margin-top: 20px;
		text-align: center
	}
	#bot_contacts .address .text {
		margin-top: 0;
		text-align: center
	}
	footer {
		height: 50px
	}
	footer .copyright {
		line-height: 50px
	}
	header .top .phone_block a {
		font-size: 27px
	}
	header .top .phone_block {
		background: transparent;
		width: 100%;
		padding: 0;
		text-align: center;
		margin-top: 10px
	}
	header .mid {
		margin-top: 10px
	}
	header .top .logo {
		margin-right: 0
	}
	#how,
	#scrl3 .items,
	#scrl3 .title {
		display: none
	}
	#scrl2 .items .item {
		width: 48%;
		margin-right: 0
	}
	#scrl2 .items .item:nth-child(2n+2),
	#scrl2 .items .item:nth-child(3n+3) {
		margin-right: 0
	}
	#scrl2 .items .item:nth-child(odd) {
		margin-right: 4%
	}
	#scrl4 .tabs_block .tabs_content table tbody tr td:last-child,
	#scrl4 .tabs_block .tabs_content table tbody tr td:last-child a {
		width: auto
	}
	#scrl4 .tabs_block .tabs_content table tbody tr td:last-child a {
		font-size: 12px;
		padding-right: 3px
	}
	#scrl6 .slider_arrows .next,
	#scrl6 .slider_arrows .prev,
	#scrl8 .slider_arrows .next,
	#scrl8 .slider_arrows .prev,
	#team .slider_arrows .next,
	#team .slider_arrows .prev {
		z-index: 2
	}
	header .mid .items .item img {
		width: auto;
		margin: 0 auto
	}
	div.wpcf7 .ajax-loader {
		display: none!important
	}
	#form3 {
		padding-top: 0
	}
	#form2 .title,
	#form3 .title {
		margin-top: 0;
		padding-top: 10px
	}
	#form3 .form {
		padding-bottom: 0;
		min-height: 0
	}
	#proiz .info .desc2 {
		text-align: center
	}
	#team .desc {
		margin-top: 15px;
		font-size: 16px
	}
	#faq .faq_item .ques {
		padding-right: 40px
	}
	#scrl9 .info .desc,
	#scrl9 .info .form .desc2 {
		text-align: center
	}
	#scrl9 .info .form .btn_block,
	#scrl9 .info .form .input_block {
		max-width: 100%
	}
	#proiz .bg {
		display: none
	}
	#scrl2 .items .item:nth-child(odd) {
		margin-right: 0
	}
	#scrl2 .items .item {
		width: 100%
	}
	#scrl4 .tabs_block .tabs_content table tbody tr td:last-child {
		width: 100px
	}
	#main_desc .top_block .imgs_block {
		margin-right: 0;
		width: 100%;
		margin-bottom: 20px
	}
	#main_desc .top_block .desc_block {
		width: 100%;
		margin-bottom: 20px
	}
	#main_desc .desc_block .desc_title,
	#main_desc .top_block .desc_block .title h1 {
		text-align: center;
		font-size: 24px
	}
	#main_desc .top_block .desc_block .desc1,
	#main_desc .top_block .desc_block .desc2,
	#main_desc .top_block .desc_block .desc3 {
		text-align: center
	}
	#main_desc .top_block .desc_block .price {
		font-size: 20px;
		text-align: center
	}
	#sblock .left_text {
		width: 100%;
		margin-right: 0
	}
	#select_price .block1,
	#select_price .block2 {
		min-width: 290px
	}
	header .top .menu-languish{
		width: 90px;
		font-size: 12px !important;
	}
	header .top .menu-languish .wpml-ls-legacy-dropdown a{
		font-size: 12px;
		height: 46px;
	}
}
#map > *{
	height: 100% !important;
}
.menu-item-has-children{
	float: right;
	position: relative;
}
.menu-item-has-children .sub-menu {
    position: absolute;
    z-index: 10;
    background: #fff;
    left: 0;
    right: 0;
	display: none;
}
.menu-item-has-children .sub-menu li{
	width: 100%;
	margin-left: -5px;
	margin-right: -5px;
} 
.menu-item-has-children:hover .sub-menu{
	display: block;
}