/*
Theme Name: dgsvarka
Theme URI: #
Author: Alex L
Author URI: https://www.upwork.com/freelancers/~015d44c720e5f4462a
Description: The theme is designed for enterprises engaged in metal processing, welding, metal structures
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

#bot_contacts .ico_block a:first-child {
  background: url(assets/img/1.png) no-repeat center center;
  width: 28px;
  height: 27px;
}

#scrl2 .items .item .i_item a {
  font-size: 14px;
  color: #fff;
  text-transform: lowercase;
}

.fix_bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease-in
}

.fix_bottom .form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fix_bottom .form .input_block {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  text-align: center;
}

.fix_bottom .form .input_block input {
  width: 290px;
  border-radius: 3px;
  padding: 15px;
  color: #000;
  font-family: Arial;
  font-size: 14px;
  box-sizing: border-box;
  outline: none !important;
  background: transparent;
  border: 1px solid #e0e0e0;
  background: #fff;
}

.fix_bottom .form .btn_block {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.fix_bottom .form .btn_block input {
  color: #030303;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  width: 290px;
  border-radius: 3px;
  padding: 15px;
  background: #ffd801;
  cursor: pointer;
  outline: none !important;
  border: none;
}

.fix_bottom .form .btn_block input:hover {
  background: #fff
}

.fix_bottom .text__block,
.fix_bottom .form__block {
  display: table;
  margin: 0 auto;
}

.fix_bottom .text__block p {
  font-size: 20px;
  color: #6c6c6c;
  font-family: sf_ui_displaylight;
  padding-top: 20px;
}

.fix_bottom .text__block p strong {
  font-weight: 800;
}

.title-404 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.btn.btn_yelow {
  color: #030303;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  width: 290px;
  border-radius: 3px;
  padding: 15px;
  background: #ffd801;
  cursor: pointer;
  outline: none !important;
  border: none;
  display: table;
  margin: 0 auto;
}